                                                                                    ::-webkit-scrollbar {
                                                                                   width: 5px;
                                                                               }
                                                                               
                                                                                ::-webkit-scrollbar-thumb {
                                                                                   background-color: rgba(40, 55, 71, 1);
                                                                               }
                                                                               
                                                                                ::-webkit-scrollbar-track {
                                                                                   background-color: #eee;
                                                                               }
                                                                               
                                                                                ::selection {
                                                                                   background-color: #148f77;
                                                                                   color: #fff;
                                                                               }
                                                                               
                                                                               body,
                                                                               html {
                                                                                   width: 100%;
                                                                                   height: 100%;
                                                                               }
                                                                               
                                                                               body,
                                                                               h1,
                                                                               h2,
                                                                               h3,
                                                                               h4,
                                                                               h5,
                                                                               h6 {
                                                                                   font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                                               }
                                                                               
                                                                               .loader {
                                                                                   display: block;
                                                                                   position: absolute;
                                                                                   bottom: 0;
                                                                                   top: 0;
                                                                                   right: 0;
                                                                                   left: 0;
                                                                                   z-index: 99999;
                                                                                   margin: auto;
                                                                                   height: 150px;
                                                                                   width: 150px;
                                                                                   border: 10px solid #283747;
                                                                                   border-bottom: 10px solid #128f77;
                                                                                   border-top: 10px solid #128f77;
                                                                                   border-radius: 50%;
                                                                                   animation: rotate ease 1s infinite;
                                                                               }
                                                                               
                                                                               @keyframes rotate {
                                                                                   0% {
                                                                                       -webkit-transform: rotate(0deg);
                                                                                   }
                                                                                   50% {
                                                                                       -webkit-transform: rotate(180deg);
                                                                                   }
                                                                                   100% {
                                                                                       -webkit-transform: rotate(360deg);
                                                                                   }
                                                                               }
                                                                               
                                                                               .topnav {
                                                                                   font-size: 1.8rem;
                                                                                   background-color: rgba(40, 55, 71, 1);
                                                                                   border: none;
                                                                                   padding-top: 0.5rem;
                                                                                   padding-bottom: 0.5rem;
                                                                                   min-height: 7.5rem;
                                                                                   max-height: 7.5rem;
                                                                                   box-shadow: 0 0 20px #000;
                                                                               }
                                                                               
                                                                               .navbar-default .navbar-nav>li>a {
                                                                                   color: white;
                                                                                   font-family: 'Montserrat', sans-serif;
                                                                                   font-size: 1.8rem;
                                                                                   letter-spacing: 0.1rem;
                                                                                   outline: none;
                                                                                   margin-top: 1rem;
                                                                                   font-weight: 300;
                                                                               }
                                                                               
                                                                               .navbar-header p {
                                                                                   color: white;
                                                                                   letter-spacing: 3px;
                                                                                   margin-top: -4rem;
                                                                                   margin-left: 7.5rem;
                                                                                   font-family: 'Josefin Sans', sans-serif;
                                                                                   font-size: 3rem;
                                                                                   font-weight: bold;
                                                                               }
                                                                               
                                                                               .navbar-brand>img {
                                                                                   display: block;
                                                                                   width: 7rem;
                                                                                   margin-top: -1.75rem;
                                                                               }
                                                                               
                                                                               .navbar-default .navbar-nav>li>a:focus,
                                                                               .navbar-default .navbar-nav>li>a:hover {
                                                                                   color: white;
                                                                                   font-family: 'Montserrat', sans-serif;
                                                                                   letter-spacing: 0.1rem;
                                                                                   font-size: 1.8rem;
                                                                                   background-color: rgba(234, 236, 238, 0.1);
                                                                                   outline: none;
                                                                                   font-weight: 300;
                                                                               }
                                                                               
                                                                               .collapse {
                                                                                   background-color: #283747;
                                                                                   border: none;
                                                                               }
                                                                               
                                                                               .nav>li:after {
                                                                                   content: '';
                                                                                   display: block;
                                                                                   margin: auto;
                                                                                   height: 3px;
                                                                                   width: 0px;
                                                                                   background: transparent;
                                                                                   transition: width .5s ease, background-color .5s ease;
                                                                               }
                                                                               
                                                                               li:hover:after {
                                                                                   width: 100%;
                                                                                   background: #3498DB;
                                                                               }
                                                                               
                                                                               .navbar-default .navbar-nav>.active>a {
                                                                                   color: white;
                                                                                   background-color: transparent;
                                                                                   border-bottom: 3px solid #3498DB;
                                                                               }
                                                                               
                                                                               .navbar-default .navbar-nav>.active>a:focus,
                                                                               .navbar-default .navbar-nav>.active>a:hover {
                                                                                   background-color: transparent;
                                                                                   color: white;
                                                                                   border-bottom: none;
                                                                               }
                                                                               
                                                                               .navbar-default .navbar-toggle:focus,
                                                                               .navbar-default .navbar-toggle:hover {
                                                                                   background-color: transparent;
                                                                               }
                                                                               
                                                                               .navbar-default .navbar-toggle .icon-bar {
                                                                                   background-color: white;
                                                                               }
                                                                               
                                                                               .navbar-toggle {
                                                                                   position: relative;
                                                                                   float: right;
                                                                                   padding: 9px 10px;
                                                                                   margin-top: 8px;
                                                                                   margin-right: 13px;
                                                                                   margin-bottom: 8px;
                                                                                   background-color: transparent;
                                                                                   background-image: none;
                                                                                   border: none;
                                                                               }
                                                                               
                                                                               .inline-block {
                                                                                   background-color: rgba(40, 55, 71, 1);
                                                                                   width: 100%;
                                                                                   padding-top: 8rem;
                                                                                   color: white;
                                                                                   text-align: center;
                                                                                   padding-bottom: 2rem;
                                                                               }
                                                                               
                                                                               p.copy {
                                                                                   margin: 0 0 10px;
                                                                                   color: white;
                                                                                   letter-spacing: 3px;
                                                                                   margin-top: -3.5rem;
                                                                                   margin-left: 6rem;
                                                                                   font-family: 'Montserrat', sans-serif;
                                                                               }
                                                                               
                                                                               header.carousel {
                                                                                   margin: 9rem 1rem 6rem 1rem;
                                                                                   height: 86.5%;
                                                                               }
                                                                               
                                                                               header.carousel .item,
                                                                               header.carousel .item.active,
                                                                               header.carousel .carousel-inner {
                                                                                   height: 100%;
                                                                               }
                                                                               
                                                                               header.carousel .fill {
                                                                                   width: 100%;
                                                                                   height: 100%;
                                                                                   background-position: center;
                                                                                   background-size: cover;
                                                                               }
                                                                               
                                                                               .carousel-indicators .active {
                                                                                   width: 18px;
                                                                                   height: 18px;
                                                                                   margin: 0;
                                                                                   background-color: rgba(23, 32, 42, 0.8);
                                                                                   border: 4px solid #85C1E9;
                                                                               }
                                                                               
                                                                               .carousel-indicators li {
                                                                                   display: inline-block;
                                                                                   width: 14px;
                                                                                   height: 14px;
                                                                                   margin: 1px;
                                                                                   text-indent: -999px;
                                                                                   cursor: pointer;
                                                                                   background-color: rgba(0, 0, 0, 0);
                                                                                   border: 3px solid #85C1E9;
                                                                                   border-radius: 10px;
                                                                               }
                                                                               
                                                                               .btn1,.btn2 {
                                                                                   padding: 1.5rem;
                                                                                   margin-bottom: 2rem;
                                                                                   border: 5px solid #EC7063;
                                                                                   border-radius: 50%;
                                                                                   outline: none;
                                                                                   box-shadow: none;
                                                                                   text-decoration: none;
                                                                                   background-color: transparent;
                                                                                   box-shadow: 0 0 8px #641E16, inset 0 0 8px #641E16;
                                                                                   -webkit-animation: pulse 2s linear 1s infinite;
                                                                               }
                                                                               
                                                                               @-webkit-keyframes pulse {
                                                                                   0% {
                                                                                       box-shadow: 0 0 8px #641E16, inset 0 0 8px #641E16;
                                                                                   }
                                                                                   80% {
                                                                                       box-shadow: 0 0 32px #641E16, inset 0 0 30px #641E16;
                                                                                   }
                                                                                   100% {
                                                                                       box-shadow: 0 0 8px #641E16, inset 0 0 8px #641E16;
                                                                                   }
                                                                               }
                                                                               
                                                                               a:active,
                                                                               a:focus,
                                                                               a:visited,
                                                                               a:link {
                                                                                   outline: none;
                                                                                   border: none;
                                                                               }
                                                                               
                                                                               .animated.fadeIn {
                                                                                   animation-delay: 0.1s;
                                                                                   transition: 0.5 ease;
                                                                               }
                                                                               
                                                                               .glyphicon-chevron-right:before {
                                                                                   content: "\e080";
                                                                               }
                                                                               
                                                                               .glyphicon-chevron-right:hover {
                                                                                   content: "\e080";
                                                                                   color: #85C1E9;
                                                                               }
                                                                               
                                                                               .glyphicon-chevron-left:before {
                                                                                   content: "\e079";
                                                                               }
                                                                               
                                                                               .glyphicon-chevron-left:hover {
                                                                                   content: "\e079";
                                                                                   color: #85C1E9;
                                                                               }
                                                                               
                                                                               .overlay {
                                                                                   height: 0%;
                                                                                   width: 100%;
                                                                                   position: fixed;
                                                                                   z-index: 1;
                                                                                   top: 0;
                                                                                   left: 0;
                                                                                   background-color: rgb(0, 0, 0);
                                                                                   background-color: rgba(0, 0, 0, 0.95);
                                                                                   overflow-y: hidden;
                                                                                   transition: 0.5s ease;
                                                                               }
                                                                               
                                                                               .overlay-content {
                                                                                   position: relative;
                                                                                   top: 25%;
                                                                                   width: 100%;
                                                                                   text-align: center;
                                                                                   margin-top: 30px;
                                                                                   color: white;
                                                                                   padding: 4rem 6rem;
                                                                               }
                                                                               
                                                                               .overlay-content h3 {
                                                                                   color: #48C9B0;
                                                                                   font-size: 2vw;
                                                                               }
                                                                               
                                                                               .overlay-content p {
                                                                                   color: grey;
                                                                                   padding-top: 2rem;
                                                                                   font-size: 1.5vw;
                                                                               }
                                                                               
                                                                               .overlay a {
                                                                                   padding: 8px;
                                                                                   text-decoration: none;
                                                                                   font-size: 36px;
                                                                                   color: grey;
                                                                                   display: block;
                                                                                   transition: 0.5s;
                                                                               }
                                                                               
                                                                               .overlay a:hover,
                                                                               .overlay a:focus {
                                                                                   color: #f1f1f1;
                                                                               }
                                                                               
                                                                               .overlay .closebtn {
                                                                                   position: absolute;
                                                                                   top: 70px;
                                                                                   right: 5px;
                                                                                   font-size: 60px;
                                                                               }
                                                                               
                                                                               @media screen and (max-height: 450px) {
                                                                                   .overlay {
                                                                                       overflow-y: auto;
                                                                                   }
                                                                                   .overlay .closebtn {
                                                                                       font-size: 40px;
                                                                                       top: 15px;
                                                                                       right: 35px;
                                                                                   }
                                                                               }
                                                                               
                                                                               @media screen and (max-width: 475px) {
                                                                                   .overlay {
                                                                                       overflow-y: auto;
                                                                                   }
                                                                                   .overlay-content h3 {
                                                                                       font-size: 18px;
                                                                                       margin-top: -2rem;
                                                                                   }
                                                                                   .overlay-content p {
                                                                                       font-size: 10px;
                                                                                       margin-top: -2rem;
                                                                                   }
                                                                                   .overlay .closebtn {
                                                                                       font-size: 40px;
                                                                                       top: 6rem;
                                                                                       right: 5px;
                                                                                   }
                                                                               }
                                                                               
                                                                               @media (max-width: 768px) and (min-width: 500px) {
                                                                                   .overlay {
                                                                                       overflow-y: hidden;
                                                                                   }
                                                                                   .overlay .closebtn {
                                                                                       font-size: 30px;
                                                                                       top: 11rem;
                                                                                       right: 5px;
                                                                                   }
                                                                                   header.carousel {
                                                                                       margin-top: 14rem;
                                                                                       height: 90%;
                                                                                   }
                                                                               }
                                                                               
                                                                               @media (max-width: 1024px) and (min-width: 999px) {
                                                                                   .overlay .closebtn {
                                                                                       font-size: 40px;
                                                                                       top: 55px;
                                                                                       right: 5px;
                                                                                   }
                                                                                   @media (max-height: 1440px) and (min-height: 1200px) {
                                                                                       .inline-block {
                                                                                           margin-top: 18.5rem;
                                                                                       }
                                                                                       .overlay-content h3 {
                                                                                           font-size: 32px;
                                                                                           margin-top: -2rem;
                                                                                       }
                                                                                       .overlay-content p {
                                                                                           font-size: 27px;
                                                                                           margin-top: -2rem;
                                                                                       }
                                                                                   }
