::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(40, 55, 71, 1);
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::selection {
    background-color: #148f77;
    color: #fff;
}

.container {
    text-align: center;
    margin-top: 10%;
}

.container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
}

.contactform .row {
    margin: 2rem 0;
}

.contactform {
    margin: 2rem 0;
}

#mapframe {
    margin: 5rem 0;
}

.map-responsive {
    overflow: hidden;
    position: relative;
    height: 40vw;
}

.map-responsive iframe {
    top: 5px;
    left: 0;
    height: 80%;
    width: 90%;
    position: absolute;
}

#btn {
    margin-left: 0rem;
}

.mysize {
    font-size: 40px;
}

.inline-block {
    background-color: rgba(40, 55, 71, 1);
    width: 100%;
    padding-top: 8rem;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

.col-md-4 {
    padding-left: -1rem;
}

.panel-primary {
    margin-top: -2rem;
    vertical-align: center;
    text-align: center;
    margin-bottom: 10rem;
    background-color: transparent;
    border: none;
}

.panel-primary .panel-body {
    padding-bottom: 6rem;
    padding-left: -2rem;
    padding-right: -2rem;
    background-color: transparent;
    border: none;
}

.panel-primary .panel-footer {
    background-color: transparent;
    border: none;
    text-align: center;
}

.panel-footer h5 {
    font-size: 2rem;
    font-weight: 400
}

.fa-phone:hover,
.fa-map-marker:hover,
.fa-envelope:hover {
    filter: opacity(0.8);
}

.fa-phone:before {
    background-color: #2D8A80;
    color: white;
    padding: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 50%;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.fa-envelope:before {
    background-color: #2D8A80;
    padding: 5rem;
    border-radius: 50%;
    color: white;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.fa-map-marker:before {
    background-color: #2D8A80;
    padding: 5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 50%;
    color: white;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
