.container {
    text-align: center;
    margin-top: 10%;
}

.container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
}

.row {
    margin-bottom: 5rem;
}

.map-responsive {
    overflow: hidden;
    position: relative;
    height: 40vw;
}

.map-responsive iframe {
    top: 5px;
    left: 0;
    height: 80%;
    width: 90%;
    position: absolute;
}

#btn {
    margin-left: 0rem;
}

.mysize {
    font-size: 40px;
}

.inline-block {
    background-color: rgba(40, 55, 71, 1);
    width: 100%;
    padding-top: 8rem;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
