::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(40, 55, 71, 1);
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

#container {
    width: 100%;
    max-width: 100%;
    margin: 9em auto;
}

.cols {
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    -moz-column-width: 10%;
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    -webkit-column-width: 10%;
    column-count: 4;
    column-gap: 5px;
    column-width: 10%;
}

.box {
    display: flex;
    margin-bottom: 1px;
    overflow: hidden;
}

.box.one {
    height: 600px;
    background-color: #d77575;
    width: 500px;
    break-inside: avoid;
}

.box.two {
    height: 300px;
    background-color: #dcbc4c;
    width: 500px;
    break-inside: avoid;
}

.box.three {
    background-color: #a3ca3b;
    height: 300px;
    width: 500px;
    break-inside: avoid;
}

.box.four {
    background-color: #3daee3;
    height: 199px;
    width: 400px;
    break-inside: avoid;
}

.box.five {
    background-color: #bb8ed8;
    height: 200px;
    width: 400px;
    break-inside: avoid;
}

.box.six {
    background-color: #baafb1;
    height: 200px;
    width: 400px;
    break-inside: avoid;
}

.box.seven {
    background-color: #baafb1;
    height: 149px;
    width: 300px;
    break-inside: avoid;
}

.box.eight {
    background-color: #baafb1;
    height: 149px;
    width: 300px;
    break-inside: avoid;
}

.box.nine {
    background-color: #baafb1;
    height: 149px;
    width: 300px;
    break-inside: avoid;
}

.box.ten {
    background-color: #baafb1;
    height: 151px;
    width: 300px;
    break-inside: avoid-page;
}

.inline-block {
    background-color: rgba(40, 55, 71, 1);
    width: 100%;
    padding-top: 8rem;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

.tool+.tooltip>.tooltip-inner {
    background-color: black;
    margin-left: 128rem;
}

.tool+.tooltip>.tooltip-arrow {
    border-top-color: black;
    margin-left: 125rem;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
