.gallery {
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.gallery img {
    margin-bottom: 2rem;
}
.grid-padding{
	padding: 0 8px;
}
.grid-padding img{
	margin-bottom: 15px;
}
.padding-right-zero{
	padding-right: 0px !important;
}
#myGrid{
	margin-top: 50px;
}
.loader {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    margin: auto;
    height: 150px;
    width: 150px;
    border: 10px solid #283747;
    border-bottom: 10px solid #128f77;
    border-top: 10px solid #128f77;
    border-radius: 50%;
    animation: rotate ease 1s infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
