.section-padding {
    padding: 100px 0px;
}

.section-title {
    margin-top: 300px;
}

.sec-para {
    color: 148F77;
    margin: 10px 10px 10px 10px;
}

.head-title {
    color: #148F77;
    font-size: 32px;
    font-weight: 700;
}

.botm-line {
    background-color: #2b2b2b;
    width: 34px;
    height: 2px;
    display: inline-block;
}

.portfolio-box {
    margin-bottom: 15px;
}

.padding-right-zero {
    padding-right: 0px;
}
