.navbar-fixed-top{
	background-color: rgba(40,55,71,0.9);

}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    height: 15%;
    background-color: rgba(40,55,71,0.9);
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    max-height: 7rem;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: 'Quicksand',sans-serif;
    text-transform: uppercase;
    outline: none;
    border-style: none;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #F2F3F4;
    font-family: 'Quicksand',sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: rgba(234,236,238,0.1);
    display: block;
    
}
.navbar-default .navbar-nav>li>a:focus{
    color: white;
    font-family: 'Quicksand',sans-serif;
    text-transform: uppercase;
    outline: none;
    border-style: none;
    font-size: 15px;
    
}
li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
li:hover:after {
    width: 100%;
    background: #3498DB;
}
.navbar-brand>img {
    display: block;
    width: 5rem;
    margin-top: -1.5rem;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    height: 15%;
}
p {
    margin: 0 0 10px;
    margin-top: -3rem;
    margin-left: 6rem;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    
}
.jumbotron {
   position: bottom;
}