.up-padding{
	
	margin-top: 100px;
	
	font-size: 20px;
	background-color: #95BF90  ;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:white;
    background-color: #657D60 ;
    }

.color-text{
	
	padding-right: 70px;
}

.son-padding{
	margin-top: -80px;
	margin-left: 300px;
}

.image-position1{  
	margin-top: 45px;
}


.color-image{
	background-color: lightgrey;
}


	.box-model6{
	background-color: #F9D8C3;
	height: 300px;
	
	
	}
	
	.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
	


.box-model1
{
	background-color: #F9D8C3;
  
	height: 300px;
   
	
}
.box-model2
{
	background-color:#D9FCFF;
   
	height: 200px;
    }
	
	
	
.box-model3
{
	background-color: #D9FCFF;
  
	height: 200px;
    
	
}

.padding-text{
	padding-top: 100px;
	text-align: center;
	font-size: 50px;
	color: black;
	font-family: bold;
	
	
}

.box-model4
{
	background-color: #F9D8C3;
 
 
	height: 200px;
   
	
}


.box-model5
{
	background-color:#F9D8C3;
 
	height: 200px;
    }


.padding-text1{
	padding-top: 30px;
	 text-align: center;
	font-size: 40px;
}

.padding-text2{
	padding: 15px 20px;
	font-size: 20px;
	text-align: center;
}

.padding-text3{
	font-size: 60px;
padding-top: 80px;
text-align: center;
}
	
	.padding-text4{
	font-size: 60px;
padding-top: 60px;
text-align: center;}
.sub-text{
	color: grey;
	font-size: 20px;
	
}

.sub-text1{
	color: grey;
	font-size: 15px;
	
}
.fa {
    
    font-size: 20px;
    width: 30px;
    text-align: center;

	height: 20px;
}




.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #ffffff;
    color: #1160;
}

.fa-linkedin {
    background: #007bb6;
    color: white;
}
